.banner {
    padding: 235px 0 0;
    background: $main-color url('../img/main-bg.webp') no-repeat center/cover;
    color: #fff;
    min-height: calc(100vh - 97px);
    margin-bottom: 60px;
}

.banner__title {
    font-weight: 700;
    font-size: 57px;
    margin-bottom: 20px;
    max-width: 830px;
}

.banner__text {
    max-width: 830px;

    &::after {
        content: '';
        width: 95px;
        height: 3px;
        background-color: $main-color;
        display: block;
        margin-top: 22px;
    }
}

@media (max-width: 992px) {
    .banner {
        padding: 50px 0 0;
        min-height: calc(100vh - 79px - 40px);
        margin-bottom: 0;
    }
    .banner__title {
        font-size: 39px;
        margin-bottom: 10px;
        max-width: 313px;
    }
}