.catalog__banner {
    background-color: $main-color;
    @include bg-img('../img/catalog-bg.webp');
    padding: 30px 0;
    margin-bottom: 64px;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    & .filter__form {
        width: 512px;
        background-color: #fff;
        box-shadow: $box-shadow;
        border-radius: 5px;
        padding: 24px;
    }

    & .filter__form-item {
        padding-bottom: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    }

    & #cities {
        margin-top: 20px;
    }

    & .filter__button {
        width: 300px;
        margin: 30px auto 0;
    }
}

.catalog__banner-text {
    flex: 0 1 50%;
    color: #fff;
    font-size: 25px;
    margin-top: 130px;
}

.catalog__banner-title {
    font-weight: 700;
    font-size: 57px;
    margin-bottom: 15px;
}

.catalog__subtitle {
    font-weight: 700;
    font-size: 57px;
    margin-bottom: 22px;
    color: #fff;
}

.catalog__list-title {
    font-weight: 700;
    font-size: 57px;
    margin-bottom: 65px;
    text-align: center;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.catalog__item {
    width: 32%;
    max-width: 364px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    margin-right: 2%;
    transition: 0.8s;
    overflow: hidden;
    margin-bottom: 43px;

    &:hover,
    &:focus {
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    }

    &:nth-of-type(3n) {
        margin-right: 0;
    }
}

.catalog__visual {
    height: 203px;
    position: relative;
    margin-bottom: 36px;
}

.catalog__slider {
    width: 100%;
    height: 100%;

    & .swiper-button-next,
    & .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        width: 35px;
        height: 35px;
        background: url('../img/arrow-left.svg') no-repeatcenter/contain;
        transform: translateY(-50%);
        opacity: 0.5;
        transition: 0.4s;

        &:hover,
        &:active {
            opacity: 1;
        }
    }
    & .swiper-button-next {
        transform: translateY(-50%) rotate(180deg);
        left: auto;
        right: 0;
    }
}

.catalog__slider .swiper-pagination {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    font-size: 0;
    color: #fff;
    padding-left: 22px;
    background: url('../img/camera.svg') no-repeat top 3px left;

    & .swiper-pagination-total {
        font-size: 16px;
    }
}

.catalog__slider img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog__slider .swiper-slide::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(272.35deg, rgba(0, 0, 0, 0) 1.81%, rgba(0, 0, 0, 0.6) 98.03%);
}

.catalog__mark {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #D57800;
    background: #F5F5F5;
    border-radius: 7px;
    padding: 3px 11px;

    &.sales {
        background: #E42222;
        color: #F7F7F7;
    }
}

.catalog__sity {
    font-size: 16px;
    color: #fff;
    padding-left: 22px;
    background: url('../img/pin.svg') no-repeat top 1px left;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
}

.catalog__info {
    padding: 0 15px 15px;
}

.catalog__title {
    font-weight: 400;
    font-size: 22px;
    color: #646464;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog__price {
    font-size: 18px;
    color: $main-color;
    margin-bottom: 13px;
}

.catalog__body {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #707070;
    height: 59px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    margin-bottom: 24px;
}

.catalog__more {
    text-align: center;
    margin-bottom: 20px;

    & .button {
        width: 227px;
        font-size: 18px;
    }
}

.catalog__footer {
    padding-top: 16px;
    border-top: 1px solid rgba(112, 112, 112, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
        display: flex;
        align-items: center;
    }
}

.catalog__footer-marks p {
    font-size: 16px;
    color: #A4A4A4;
    padding-left: 25px;
    background-position: left top -1px;
    background-repeat: no-repeat;
    background-size: 22px;
    margin-right: 16px;

    &.rooms {
        background-image: url('../img/bed.png');
    }
    &.bathes {
        background-image: url('../img/shower.svg');
    }
}

.catalog__footer-btns .no-btn {
    margin-left: 15px;

    &  path {
        fill: #C1C1C1;
    } 
    &:hover path,
    &:focus path,
    &:active path,
    &.active path {
        fill: $main-color;
    }
}

@media (max-width: 1200px) {
    .catalog__price {
        font-size: 15px;
    }    
    .catalog__more .button {
        max-width: 100%;
    }
    .catalog__footer-btns .no-btn {
        margin-left: 10px;
    }
    .catalog__footer-marks p {
        margin-right: 10px;
    }
    .catalog__banner .filter__form {
        width: 480px;
    }
    .catalog__banner-title, .catalog__subtitle {
        font-size: 46px;
    }
}

@media (max-width: 992px) {
    .catalog__banner {
        position: relative;
        min-height: calc(100vh - 79px);
        background-size: auto 93%;
        background-repeat: no-repeat;
        background-position: top center;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .catalog__filter .filter__form {
        width: 100%;
        display: none;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 10;
    }
    .catalog__banner.show .filter__form {
        display: block;
    }
    .catalog__subtitle {
        display: none;
    }
    .catalog__banner-text {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .catalog__banner-title {
        font-size: 40px;
    }
    .catalog__banner-text {
        font-size: 20px;
    }
    .catalog__list-title {
        font-size: 40px;
        margin-bottom: 35px;
    }
    .catalog__item {
        width: 48%;

        &:nth-of-type(3n)
        {
            margin-right: 2%;
        }
        &:nth-of-type(even) {
            margin-right: 0;
        }
    }
}

@media (max-width: 500px) {
    .catalog {
        justify-content: center;
    }
    .cabinet__favourites .catalog__item,
    .catalog__item {
        width: 320px;
        max-width: 100%;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}