.filter__form {
    display: flex;
    flex-direction: column;
}
.filter--front {
    margin-bottom: 54px;

    & .filter__form {
        box-shadow: $box-shadow;
        padding: 16px 22px 29px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    & .filter__form-item {
        width: 32%;
    }

    & .filter__form-item:first-child {
        width: 89%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 29px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(#707070, 0.2);
    }

    & .filter__button {
        margin-top: 47px;
        width: 300px;
    }
}

.filter--front__title {
    font-weight: 700;
    font-size: 57px;
}

.filter__form-name {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 15px;
}

.filter__form-radios input {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.filter__form-radios input + label,
.filter__form-radios input:not(:checked) + label {
    border: 1px solid #000;
    padding: 3px 17px;
    min-width: 77px;
    text-align: center;
    border-radius: 10px;
    margin-right: 19px;
    opacity: 0.32;
    transition: 0.5s;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: $main-color;
            border-color: $main-color;
            opacity: 1;
        }
}

.filter__form-radios input:checked + label {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
    opacity: 1;
}

.filter__input {
    background: #F7F7F7;
    padding: 10px 20px 11px;
    font-weight: 300;
    width: 464px;
    max-width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 7px;
    margin-bottom: 20px;

    &::placeholder {
        color: #949494;
    }
}

.filter__form-price {
    margin-top: 30px;
}

.filter__form-price .filter__input {
    width: 48%;
    margin-right: 1%;
}

.filter__form-range {
    position: relative;
}

.filter__range {
    width: 100%;
    height: 40px;
    accent-color: $main-color;
    -webkit-appearance: none;
    position: absolute;
    top: -10px;
    left: 0;
    background: transparent;
    z-index: 1;
}

.filter__range-fill {
    background: #707070;
    opacity: .2;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    margin-bottom: 20px
}
  
  /*progress support*/
  .filter__range.slider-progress {
    background-color: transparent; 
  }
  
  .filter__range:focus {
    outline: none;
  }
  
  input[type=range].filter__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 78px;
    height: 44px;
    border-radius: 0;
    background: transparent url('../img/thumb.svg');
    border: none;
    box-shadow: none;
    margin-top: calc(20px * 0.5 - 44px * 0.5);
  }
  
  input[type=range].filter__range::-webkit-slider-runnable-track {
    height: 20px;
    border: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: none;
  }
  
  input[type=range].filter__range::-webkit-slider-thumb:hover {
    background: transparent url('../img/thumb.svg');
  }
  
  input[type=range].filter__range:hover::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  input[type=range].filter__range::-webkit-slider-thumb:active {
    background: transparent url('../img/thumb.svg');
  }
  
  input[type=range].filter__range:active::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress:hover::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress:active::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  /*mozilla*/
  input[type=range].filter__range::-moz-range-thumb {
    width: 78px;
    height: 44px;
    border-radius: 0;
    background: transparent url('../img/thumb.svg');
    border: none;
    box-shadow: none;
  }
  
  input[type=range].filter__range::-moz-range-track {
    height: 20px;
    border: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: none;
  }
  
  input[type=range].filter__range::-moz-range-thumb:hover {
    background: transparent url('../img/thumb.svg');
  }
  
  input[type=range].filter__range:hover::-moz-range-track {
    background: transparent;
  }
  
  input[type=range].filter__range::-moz-range-thumb:active {
    background: transparent url('../img/thumb.svg');
  }
  
  input[type=range].filter__range:active::-moz-range-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress::-moz-range-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress:hover::-moz-range-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress:active::-moz-range-track {
    background: transparent;
  }
  
  /*ms*/
  input[type=range].filter__range::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].filter__range::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].filter__range::-ms-thumb {
    width: 78px;
    height: 44px;
    border-radius: 0;
    background: transparent url('../img/thumb.svg');
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
  }
  
  input[type=range].filter__range::-ms-track {
    height: 20px;
    border-radius: 10px;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  
  input[type=range].filter__range::-ms-thumb:hover {
    background: transparent url('../img/thumb.svg');
  }
  
  input[type=range].filter__range:hover::-ms-track {
    background: transparent;
  }
  
  input[type=range].filter__range::-ms-thumb:active {
    background: transparent url('../img/thumb.svg');
  }
  
  input[type=range].filter__range:active::-ms-track {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress::-ms-fill-lower {
    height: 20px;
    background: transparent;
    border: none;
    border-right-width: 0;
  }
  
  input[type=range].filter__range.slider-progress:hover::-ms-fill-lower {
    background: transparent;
  }
  
  input[type=range].filter__range.slider-progress:active::-ms-fill-lower {
    background: transparent;
  }
  
//arrow-range

@media (max-width: 1400px) {
    .filter--front .filter__form-item:first-child {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .filter--front .filter__form {
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 10;
        display: none;
    }
    .filter--front.show .filter__form {
        display: flex;
    }
    .filter--front {
        background-color: $main-color;
        position: relative;
        margin-bottom: 25px;

        &::after {
            content: 'Advanced Search';
            font-family: inherit;
            font-size: 13px;
            color: #fff;
            text-align: center;
            display: inline-block;
            width: 100%;
            padding: 11px 0 13px;
        }
    }
    .filter--front .filter__form,
    .filter--front .filter__form-item:first-child {
        flex-direction: column;
    }
    .filter--front .filter__form-item,
    .filter__input {
        width: 100%;
    }
    .filter--front .filter__button {
        width: 170px;
        margin: 20px auto 0;
        display: block;
    }
    .filter--front__title {
        font-size: 32px;
        margin-bottom: 14px;
    }
}