.header .navbar {
    justify-content: space-between;
}

.header .navbar-collapse {
    max-width: 78%;
}

.header .navbar-nav {
    width: 70%;
    justify-content: space-between;
}

.header .nav-link {
    color: #000;
    font-weight: 300;

    &:hover,
    &:active,
    &.show {
        color: $main-color;

        & ~ .dropdown-menu {
            display: block;
        }
    }
}

.header .dropdown-toggle::after {
    display: none;
}

.header .dropdown-menu {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.082);
    border-radius: 0px 0px 12px 12px;
    border: none;

    &:hover {
        display: block;
    }
}

.header .dropdown-item {
    font-weight: 300;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        color: $main-color;
    }
}

.header__buttons button {
    font-size: 20px;
}

.header__buttons .no-btn {
    font-weight: 300;
    padding: 9px 23px 10px;

    &:hover,
    &:focus,
    &:active {
        color: $main-color;
        text-shadow: 0 0 2px $main-color;
    }
}

.header__lang {
    position: absolute;
    top: 85vh;
    left: 0;
    display: flex;
    flex-direction: column;

    & .no-btn {
        font-weight: 700;
        margin-bottom: 20px;

        &:hover,
        &:focus,
        &.active {
            color: $main-color;
            text-decoration: underline;
        }
    }
    &.w .no-btn {
        color: #fff;

        &:hover,
        &:focus,
        &.active {
            color: $main-color;
            text-decoration: underline;
        }
    }
}

@media (max-width: 1200px) {
    .header .navbar-brand {
        width: 15%;
    }
    .header .navbar-collapse {
        max-width: 80%;
    }
    .header .navbar-nav {
        width: 60%;
    }
    .header__buttons button,
    .header .nav-link {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .header .navbar-brand {
        width: 150px;
    }
    .header .navbar-nav {
        width: 100%;
    }
    .header .navbar-toggler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22px;
        height: 19px;
        background-color: transparent;
        padding: 0;

        &:focus {
            box-shadow: none;
        }

        & span {
            transition: 0.8s;
            width: 100%;
            height: 2px;
            background-color: $main-color;
        }

        &:not(.collapsed) {
            & span {
                background-color: #A4A4A4;
            }
            & span:nth-of-type(1) {
                transform: rotate(45deg) translate(1px, -1px);
            }
            & span:nth-of-type(2) {
                transform: scale(0);
            }
            & span:nth-of-type(3) {
                transform: rotate(-45deg) translate(12px, -10px);
            }
        }
    }
    .header .nav-link {
        border-bottom: 1px solid rgba(112, 112, 112, 0.07);
    }
    .header__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
    .header__buttons .no-btn {
        font-size: 18px;
        text-align: left;
        padding: 8px 0;
        border-bottom: 1px solid rgba(112, 112, 112, 0.07);
    }
    .header__buttons .button {
        padding: 8px 0;
        background-color: transparent;
        color: $main-color;
        font-size: 18px;
        text-align: left;
    }
    .header__lang {
        position: static;
        margin-top: 80px;
        align-items: flex-start;

        & .no-btn {
            font-size: 16px;
            margin-bottom: 14px;
        }
        &.w .no-btn {
            color: #000;
        }
    }
}