.main-pagination {
    margin-bottom: 100px;
    justify-content: flex-end;

    & .page-link {
        margin-right: 7px;
        padding: 5px 15px 4px;
        font-weight: 600;
        font-size: 14px;
        background: rgba(148, 148, 148, 0.1);
        border-radius: 3px;
        color: #949494;
        border: none;

        &:hover,
        &.active {
            color: #fff;
            background: $main-color;
        }
    }
}

.catalog__list .main-pagination {
    margin-right: 43px;
}