<footer class="footer">
    <section class="footer__info">
        <div class="container">
            <a href="/"><img src="img/logo-footer.svg" alt="My Space logo" class="footer__logo" width="332" height="115"></a>
            <div class="footer__subscribe">
                <p>JOIN OUR NEWSLETTER</p>
                <p>Receive updates on new to market listings from MYSPACE Real Estate</p>
                <form class="d-flex footer__form">
                  <input class="form-control me-2" type="email" placeholder="Email address">
                  <button class="button" type="submit">Subscribe</button>
                </form>
            </div>
            <div class="footer__contacts">
                <p class="footer__address">Potamos Germasogeias, 4048, Limassol</p>
                <a href="tel:+35795129336" class="footer__phone">+35795129336</a>
                <a href="tel:+35799409010" class="footer__phone">+35799409010</a>
                <a href="malto:propertiescy@gmail.com" class="footer__email">bestpropertiescy@gmail.com</a>
            </div>
        </div>
    </section>
    <section class="footer__copyright">
        <div class="container">
            <p>© 2022-MYSPACE REAL ESTATE</p>
        </div>
    </section>
</footer>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog user-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SIGN INTO YOUR ACCOUNT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="login user-modal__form">
                <div class="user-modal__item">
                    <label for="username" class="label">Username</label>
                    <input id="username" type="text" class="input" placeholder="Username">
                </div>
                <div class="user-modal__item">
                    <label for="password" class="label">Password</label>
                    <input id="password1" type="password" class="input">
                    <button type="button" class="show-password" title="Показать пароль"></button>
                    <a href="#" class="user-modal__link">Forgot Password?</a>
                </div>
                <div class="user-modal__footer">
                    <button type="button" class="button">Sign Up</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog user-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="registration user-modal__form">
                <div class="user-modal__item">
                    <label for="email" class="label">Email</label>
                    <input id="email" type="email" class="input" placeholder="email">
                </div>
                <div class="user-modal__item">
                    <label for="password" class="label">Password</label>
                    <input id="password2" type="password" class="input">
                    <button type="button" class="show-password" title="Показать пароль"></button>
                </div>
                <div class="user-modal__item">
                    <label for="password" class="label">Confirm password</label>
                    <input id="password3" type="password" class="input">
                    <button type="button" class="show-password" title="Показать пароль"></button>
                </div>
                <div class="user-modal__footer">
                    <button type="button" class="button">Registration</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>