<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="img/logo.svg" alt="My space logo" width="205" height="71" class="header__logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand close" href="/">
                    <img src="img/logo.svg" alt="My space logo" width="205" height="71" class="header__logo">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Properties
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="catalog.html">For Rent</a></li>
                        <li><a class="dropdown-item" href="catalog.html">For Sale</a></li>
                      </ul>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="imigration.html">Immigration</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="services.html" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="ur-services.html">Legal Services</a></li>
                      <li><a class="dropdown-item" href="invest-services.html">Estate Management</a></li>
                      <li><a class="dropdown-item" href="sol-services.html">Investment Solutions</a></li>
                      <li><a class="dropdown-item" href="con-services.html">Concierge Services</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Information
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="living.html">About Cyprus</a></li>
                      <li><a class="dropdown-item" href="news.html">Cyprus News</a></li>
                      <li><a class="dropdown-item" href="taxes.html">Tax Guidance</a></li>
                      <li><a class="dropdown-item" href="purchasing.html">Home Buying Guide</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacts.html">Contact</a>
                  </li>
            </ul>
            <div class="header__buttons">
                <button class="no-btn" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</button>
                <button class="button" data-bs-toggle="modal" data-bs-target="#registrationModal">Registration</button>
            </div>
            <div class="header__lang">
              <button class="no-btn active">EN</button>
              <button class="no-btn">RU</button>
            </div>
        </div>
        </nav>
    </div>
</header>
